.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  padding: 0 .5rem;
  overflow-y: auto;
}

.icon {
  margin-right: .5rem;
}
