.item {
  position: relative;
  height: 100%;
  padding: 8px;
  transition: background-color .2s ease;
  backdrop-filter: blur(2px);

  &:hover {
    background-color: rgba(0,0,0,.2);
    border-radius: 20px;

    .deleteButton {
      opacity: 1;
    }
  }

  .deleteButton {
    position: absolute !important;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: opacity 2s ease
  }
}
