.drawer {
  .widget {
    cursor: grab;
  }
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.widget {
  position: relative;

  .addButtonWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.2);
    opacity: 0;
    transition: all .2s ease;
    z-index: 1;
  }

  &:hover {
    .addButtonWrap {
      opacity: 1;
    }
  }
}

.drawerPaper {
  width: 400px;
  padding: 0 16px;
}
