.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    & > svg {
        text-shadow: rgba(0, 0, 0, 0.3) 0 1px 5px;
    }

    .time {
        font-size: 4rem;
    }

    .date {
        font-size: .85rem;
    }

    .size-s {
        font-size: 24px;
    }

    .size-m {
        font-size: 36px;
    }

    .size-l {
        font-size: 56px;
    }
}

